PORT=3000

# Business
KEYS_API_HOST=http://kapi.local
EL_API_URLS=https://mainnet.infura.io/v3/
CHAIN_ID=1
CURATOR_ADDRESS=0xff...


# Metric and logs
SENTRY_DSN=
LOG_FORMAT=simple
LOG_LEVEL=debug

# Network
CORS_WHITELIST_REGEXP=^https?://(?:.+?\.)?(?:lido|testnet|mainnet)\.fi$
# The number of seconds that each request will last in storage
GLOBAL_THROTTLE_TTL=5
# The maximum number of requests within the TTL limit
GLOBAL_THROTTLE_LIMIT=100
# Cache expiration time in seconds
GLOBAL_CACHE_TTL=1

